<center>
  <h1>Log In</h1>

  <%= session[:notice] %>

  <p>
    <form action="/login" method="POST">
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Log In">
    </form>
  </p>
  <p>Or visit <a href="/signup">Sign Up</a> page</p>

</center>
