<center>
  <h1>Sign Up</h1>

  <%= session[:notice] %>

  <p>
    <form action="/signup" method="POST">
      Username: <input type="text" name="username"><br>
      Password: <input type="text" name="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </p>

</center>
