

<center><h1>Products</h1></center>


<% @products.each do |product| %>
  <p><a href="/products/<%=product.id%>"><%= product.name %></a></p>
<% end %>


<% if logged_in? %>
  <p><a href="/products/new">Add a new product</a></p>
<% end %>
