<% if logged_in? %>
Logged in as: <b><%= current_user.username %></b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/logout">logout</a>
<% end %>

<center><h1>Products</h1></center>

<ul>
  <% @products.each do |product| %>
    <li><a href="/products/<%=product.id%>"><%= product.name %></a></li>
  <% end %>
</ul>

<% if logged_in? %>
  <p><a href="/products/new">Add a new product</a></p>
<% end %>
