

<font color="red">
<%= session[:notice] %>
<% session[:notice] = "" %> <!-- clears error message for future requests -->
</font>

<center>
  <h1>Add Product</h1>
</center>

<p>
  <form action="/products" method="POST">
    Product Name: <input type="text" name="product_name" size="50">
    <input type="submit" value="Add Product">
  </form>
</p>
