<% if logged_in? %>
Logged in as: <b><%= current_user.username %></b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/logout">logout</a>
<% end %>

<center>
<h1><%= @product.name %></h1>
</center>

<font color="red">
<%= session[:notice] %>
<% session[:notice] = "" %> <!-- clear error message for future redirects -->
</font>

<h3>Add a review</h3>

<p>
  <form action="/reviews/<%=@product.id%>/new" method="POST">
    <textarea name="content" cols="100" rows="10"></textarea>

    <p>Rate this product:
      <input type="radio" name="rating" value="1">1</input>
      <input type="radio" name="rating" value="2">2</input>
      <input type="radio" name="rating" value="3">3</input>
      <input type="radio" name="rating" value="4">4</input>
      <input type="radio" name="rating" value="5">5</input>
    </p>

    <p><input type="submit" value="Submit"></p>
  </form>
</p>
