<center>
  <h1>My First Sinatra Project: Product Reviews App</h1>

  <p><a href="/signup">Sign Up</a></p>
  <p><a href="/login">Log in</a></p>
  <p><a href="/products">Enter site in visitor mode</a></p>
</center>
