<head>
  <style>
    div#d {
      width: 960px;
      height: 100%;
      margin: auto;
      background-color: #F8F9F9;
    }
  </style>
</head>

<body>
  <div id="d">
    <div align="right">
      <% if logged_in? %>
        Logged in as: <b><%= current_user.username %></b>&emsp;&emsp;&emsp;
        <a href="/logout">logout</a>
      <% end %>
    </div>

    <%= yield %>

    <center><a href="/">Home</a></center>
  </div>
</body>
